<%- include("./partials/header.ejs") %>
    <link rel="stylesheet" href="/css/home.css">
    
</head>
<body>
    <!--Hey! This is the original version
of Simple CSS Waves-->
    <h1 class="title">Welcome to the Madhuban Bapudham Police Station Digital</h1>
    <figure class="image is-128x128" id="logos">
        <img src="/img/up-logo.png">
      </figure>
      <figure class="image is-128x128 "id="logos">
        <img src="/img/up-police-logo.png">
      </figure>
    <div class="columns is-desktop ">
        <div class="column is-half is-offset-one-quarter">
            <div class="card">
                <div class="card-image">
                
                </div>
                <div class="card-content">
                  
                    <form class="box" method="post" action="/newComplaint">
                        <div class="field">
                          <label class="label">Please enter your Name:</label>
                          <div class="control">
                            <input class="input" placeholder="Your Name" name="Name">
                          </div>
                        </div>

                        <div class="field">
                            <label class="label">Please enter your Mobile number:</label>
                            <div class="control">
                              <input class="input" placeholder="Your Mobile" name="mobile">
                            </div>
                          </div>
                      
                        <div class="field">
                          <label class="label">Please enter your Address:</label>
                          <div class="control">
                            <input class="input"  placeholder="Your Address" name="address">
                          </div>
                        </div>

                        <div class="field">
                            <label class="label">Please enter your Complaint:</label>
                            <div class="control">
                            <textarea class="textarea" placeholder="Your Complaint" name="complaint"></textarea>
                            </div>
                          </div>

                        
                      
                        <button class="button is-primary">Submit</button>
                      </form>
                    </div>
                  </div>
              
                  </div>
                </div>
              </div>
        </div>
      </div>
      <footer class="footer ">
        <div class="hero has-text-centered">
          <p>
            <strong>The UP Police and UP Governement Logos are registered trademarks of Uttar Pradesh Government ©️</strong> 
          </p>
        </div>
      </footer>
    
    
    

   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  
</body>
</html>